
    <h2>Student details</h2>
    <div>
        <table class="table table-sm table-bordered">
            <tr class="table-dark">
                <th> My photo</th>
                <th> My details</th>
            </tr>
            <tr>
                <td> <img src="~/Content/Image/Me.JPG" alt="Picture of Destiny" class="img-thumbnail" height="200" width="320"/></td>
                <td> Destiny Edward<br /> 23629411</td>
            </tr>
        </table>
    </div>
    <div class="list-group">
        <h4 class="list-group-horizontal">Steps followed for this practical</h4>
        <p class="list-group-item">I first created a supplier model and added properties to it.</p>
        <p class="list-group-item">I added the supplier ID to the category class to show the relationship</p>
        <p class="list-group-item">I added a list of suppliers on the ProductRepository view</p>
        <p class="list-group-item">I aslo added the supplier_ID to the category list</p>
        <p class="list-group-item">I added a new GetCategoriesBySupplier actionresult method on the Product controller</p>
        <p class="list-group-item">Added a new supplier dropdown</p>
        <p class="list-group-item">Added a new Serial textbox</p>
        <p class="list-group-item">I alligned the form controls in two seperate columns</p>
    </div>
